@import "../../global/mixins";

.page-header {
  position: relative;
  overflow: hidden;
}

.page-header__wrapper {
  box-shadow: 0px 5px 7px rgba(194, 192, 192, 0.25);
  margin-bottom: 30px;

  @include md {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  @include lg {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;

    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}

.page-header__logo {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  box-sizing: content-box;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-header__logo-img {
  width: 33px;
  height: 38px;

  @include md {
    width: 173px;
    height: 59px;
  }

  @include lg {
    width: 202px;
    height: 60px;
  }
}
