@import "../../global/mixins";

.page-header {
  overflow: hidden;
  position: relative;
  z-index: 0;

  @include lg {
    height: 768px;
  }
}

.page-header::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('../images/content/bg-header2x.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  z-index: -1;
}

.page-header__logo {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  box-sizing: content-box;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }
}

.page-header__logo-img {
  width: 33px;
  height: 38px;

  @include md {
    width: 173px;
    height: 59px;
  }

  @include lg {
    width: 202px;
    height: 60px;
  }
}

@include lg {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .promo {
    margin: 0 auto;
    margin-bottom: 66px;

    .promo__info {

    }

    &__title {
      font-family: 'Gilroy', sans-serif;
      font-weight: 800;
      font-size: 42px;
      line-height: 51px;
      color: #ffffff;
      margin-bottom: 38px;
    }

    &__title-text {
      font-family: 'Proxima Nova', sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      line-height: 34px;
      opacity: 0.7;
    }

    .download {
      width: 460px;

      div {
        width: 340px;
      }

      .button {
        font-family: 'Gilroy', sans-serif;
        width: 100%;
        background-color: #FEE040;
        border: none;
        font-weight: 800;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        padding-top: 29px;
        padding-bottom: 26px;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
        margin-bottom: 42px;

        svg {
          margin-right: 12px;
        }
      }

      .button:hover {
        opacity: 0.95;
      }

      p {
        font-family: 'Proxima Nova', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #FFFFFF;
      }
    }
  }

  .start {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
    width: 1420px;

    &__list {
      display: flex;
      margin-right: 129px;

      .item {
        display: flex;
        align-items: center;
      }

      svg {
        margin-right: 31px;
      }

      p {
        font-family: 'Proxima Nova', sans-serif;
        width: 220px;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #FFFFFF;
        margin-right: 80px;
      }

      .item:nth-child(3) p {
        margin-right: 0;
      }
    }
  }
}