@import "../../global/mixins";

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: #343639;
    font-style: normal;
    margin-bottom: 42px;

    @include md {
      font-size: 30px;
      margin-bottom: 50px;
    }

    @include lg {
      font-size: 36px;
      margin-bottom: 60px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    @include md {
      flex-direction: column;
    }

    @include mdr {
      flex-direction: row;

      &-image {
        width: 600px;
      }
    }

    @include lg {
      flex-direction: row;
    }

    &-image {
      margin-left: 10px;
    }
  }

  &__list {

    &-item {
      display: flex;
      flex-direction: column;

      &-desktop {
        p {
          margin-bottom: 40px;
        }

        .description-title {
          display: none;
          font-size: 18px;
          font-weight: 600;
          color: #343639;
        }

        @include md {
          .description-title {
            display: block;
            margin-bottom: 15px;
          }

          p {
            margin-bottom: 0;
          }
        }

        @include lg {
          .description-title {
            display: block;
            margin-bottom: 15px;
          }

          p {
            margin-bottom: 0;
          }
        }
      }

      &-mobile {
        display: flex;
        align-items: center;
        margin-bottom: 12px;

        svg {
          width: 30px;
          margin-right: 20px;
        }

        .description-title {
          font-size: 18px;
          font-weight: 600;
          color: #343639;
        }

        @include md {
          margin-bottom: 0;

          svg {
            width: 40px;
          }

          .description-title {
            display: none;
          }
        }

        @include lg {
          margin-bottom: 0;

          svg {
            width: 40px;
          }

          .description-title {
            display: none;
          }
        }
      }

      @include md {
        flex-direction: row;
        margin-bottom: 50px;
      }

      @include lg {
        flex-direction: row;
        margin-bottom: 50px;
      }
    }
  }

  @include md {
    margin-bottom: 100px;
  }

  @include lg {
    margin-bottom: 180px;
  }
}