@import "../../global/mixins";

.download {
  position: relative;

  img {
    margin: -2px;
  }

  &-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 180px;
    background: radial-gradient(549.49% 2129.53% at -28.89% -108.89%, #FB915F 0%, #F294AA 100%);
    box-shadow: 0 4px 8px rgba(70, 39, 34, 0.04), 0 0 2px rgba(70, 39, 34, 0.06), 0 0 1px rgba(70, 39, 34, 0.04);
  }

  &-info {
    display: flex;
    flex-direction: column;

    svg {
      margin: 10px 45%;
    }
  }

  .white-text {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
  }

  .link_mobile {
    width: 135px;
  }

  @include md {

    &-block {
      position: absolute;
      top: 20%;
      right: 0;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column;
      width: 40%;
      border-radius: 10px 0 0 10px;
      background: radial-gradient(404.38% 2305.87% at 148.92% 234.37%, #FB915F 0%, #F294AA 100%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    }

    &-info {
      flex-direction: column;
      align-items: center;
      margin-left: 110px;

      svg {
        margin: 5px 0;
        transform: rotate(0deg);
      }
    }

    .link_mobile {
      margin-left: 113px;
      width: 162px;
    }

    .white-text {
      margin-bottom: 7px;
      font-size: 18px;
      font-weight: normal;
    }

    .container {
      display: flex;
      justify-content: flex-start;
    }
  }

  @include mdr {

    &-block {
      position: absolute;
      top: 20%;
      right: 0;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column;
      width: 50%;
      border-radius: 10px 0 0 10px;
      background: radial-gradient(404.38% 2305.87% at 148.92% 234.37%, #FB915F 0%, #F294AA 100%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    }

    &-info {
      flex-direction: row;
      align-items: center;
      margin-left: 20px;

      svg {
        margin: 0 20px;
        transform: rotate(-90deg);
      }
    }

    .link_mobile {
      margin-left: 200px;
      width: 162px;
    }

    .white-text {
      font-size: 18px;
      font-weight: normal;
    }

    .container {
      display: flex;
      justify-content: flex-start;
    }
  }

  @include lg {

    .container {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    &-block {
      position: absolute;
      top: 20%;
      right: 0;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column;
      width: 55%;
      border-radius: 10px 0 0 10px;
      background: radial-gradient(404.38% 2305.87% at 148.92% 234.37%, #FB915F 0%, #F294AA 100%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    }

    &-info {
      flex-direction: row;
      align-items: center;
      margin-left: 71px;

      svg {
        margin: 0 20px;
        transform: rotate(-90deg);
      }
    }

    .link_mobile {
      margin-left: 290px;
      width: 162px;
    }

    .white-text {
      font-size: 22px;
      font-weight: normal;
    }

    .container {
      display: flex;
      justify-content: flex-start;
    }
  }
}